@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Manrope:wght@600;800&display=swap');

* {
    font-size: 15px;
    padding: 0;
    font-family: Manrope;
    margin: 0;
}

.mainnav {
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.dropdown-menu li a {
    width: auto;
    display: block;
    color: #FFF;
    font-family: Manrope;
    font-size: 13px;
    padding: 8px 16px;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: padding-left 0.2s ease-in-out;
    -moz-transition: padding-left 0.2s ease-in-out;
    -webkit-transition: padding-left 0.2s ease-in-out;
    -o-transition: padding-left 0.2s ease-in-out;
  }
  
  .dropdown-menu a:hover {
    background-color: #AAAAAA;
    color: #174793;
    font-weight: 900;
    padding-left: 20px;
    width: auto !important;
    box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.75);
    border-radius: 6px;
  }
  
  .dropdown-menu {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(23, 71, 147, 0.75);;
    border-radius: 10px;
    border: 1px solid #174793;
  }  

.sidebar {
    height: 100%;
    width: 252px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,180,216);
    background: linear-gradient(0deg, rgba(0,180,216,1) 0%, rgba(23,71,147,1) 50%);
    font-weight: 900;
    padding-top: 118px;
    padding-bottom: 28px;
}

::-webkit-scrollbar {
    width: 15px;
    height: 20px;
}
  
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #AAAAAA;
}

.sidebar a {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    transition: padding-left 0.2s ease-in-out;
    -moz-transition: padding-left 0.2s ease-in-out;
    -webkit-transition: padding-left 0.2s ease-in-out;
    -o-transition: padding-left 0.2s ease-in-out;
}

.sidebar a:hover {
    background-color: #AAAAAA;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
    border-radius: 6px;
    color: #174793;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 13px;
}

.content {
    margin-left: 260px;
    margin-top: 20px;
    padding: 20px;
}

body {
    background-color: lightgray;
}


hr {
    border: 1px solid black;
    border-radius: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.custom-box {
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card{
    height: auto;
    border-radius: 15px;
}

.yellow-box {
    background: rgb(0,180,216);
    background: linear-gradient(50deg, rgba(0,180,216,1) 0%, rgba(23,71,147,1) 50%);
    border-radius: 15px 15px 0px 0px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0 10px;
}

.blue-box {
    background-color: #FFF;
    border-radius: 0px 0px 15px 15px;
    height: auto;
}

.table {
    width: 94% !important;
}

.bord {
    border: 1px solid white !important;
    background: lightgray;
    color: black;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: whitesmoke !important;
    color: black !important;
}

/* Toggle button for small screens */
@media (max-width: 768px) {
    .sidebar {
        width: 0;
        display: none;
    }

    .content {
        margin-left: 0;
    }
}

/* CSS */
.button-20 {
    appearance: button;
    background-color: #174793;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #174793;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Manrope !important;
    font-size: 13px;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
    outline: 0;
}

.button-20:hover {
    background-color: #153c7b;
    border-color: #153c7b;
}

.button-20:focus {
    background-color: #153c7b;
    border-color: #153c7b;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
    background-color: #153c7b;
    background-image: none;
    border-color: #153c7b;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
    background-image: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}

.btn-submit {
    display: block;
    background-color: #FFC30B;
    border-color: #FFC30B;
    padding: 3px; 
    font-size: 14px; 
    border-radius: 10px;
    width: 140px;
    color: black;
}
  .btn-submit:hover {
    background-color: #ebb615; 
    border-color: #ebb615;
    color: black;
  }

  .button-submit:active {
    background-color: #ebb615;
    border-color: #ebb615;
}
  
.button-submit:focus {
    background-color: #ebb615;
    border-color: #ebb615;
}

.modal-header {
    border-radius: 15px 15px 0 0;
    background-color: #174793;
}

.modal-content {
    border-radius: 15px;
}

.dataTables_length{
    padding: 20px 10px 20px 30px;
}

.dataTables_filter{
    padding: 20px 30px;
}

.dataTables_info{
    padding: 20px 30px;
}

.dataTables_paginate{
    padding: 10px 30px 20px 30px;
}



.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
.active>.page-link, .page-link.active {
    z-index: 3;
    color: #fff;
    background-color: #174793;
    border-color: #174793;
}

.paginate_button{
    color: #174793;
}

.page-link {
    color: #174793;
}

@media only screen and (min-width: 768px) {
    .table {
      max-width: 100% !important;
    }
}


